body{
    margin: 0;
    background-color: #F1F6F9;
}
/*Navbar styling*/

.nav-header-section{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
    margin: 0;
}

.navbar-container{
    z-index: 999;
    /*background-image: linear-gradient(to right,#bdc3c7, #2c3e50);*/
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: fixed;
    top: 0;
    height: 7%;
    background-color: transparent;
}

.navbar-logo{
    padding: 10px;
}

.navbar-logo h2{
  background-image: linear-gradient(to left,rgb(27, 27, 27),#232b2b);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  font-family: "Trirong", serif;
  font-size: 2rem;
  font-weight: bold;
}

.navbar-logo h2:hover{
    cursor: pointer;
}

.navbar-logo img{
    shape-rendering: crispEdges;
    border: none;
    cursor: pointer;
}

.navbar-logo img.svgfix rect{
    shape-rendering: crispEdges;
}

.nav-links-container{
    padding: 10px;
}

.nav-links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.nav-links li a{
  text-decoration: none;
  color: rgb(27, 27, 27)
}

.nav-links li{
  color: rgb(27, 27, 27);
  font-family: "Trirong", serif;
  font-size: 1rem;
  position: relative;
  padding: 5px;
  cursor: pointer;
  list-style-type: none;
  font-weight: bold;
}


.hamburger-menu{
  display: none;
}

@media screen and (max-width: 1048px) {
  .nav-links{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: rgba(155, 164, 181, 0.8);
    position: absolute;
    top: 0;
    left: -100%;
    z-index: -3;
    transition: 0.3s;
  }

  .nav-links.active{
    left: 0;
  }

  .nav-links li a{
    color: white;
  }

  .nav-links li{
    color: white;
    font-family: "Trirong", serif;
    padding: 1rem 0;
    font-size: 1rem;
    cursor: pointer;
  }

  .nav-links li a{
    color: white;
  }

  .nav-links li svg{
    color: white;
  }

  .hamburger-menu{
    padding: 10px;
    display: initial;
  }


}


/*Main hero section styling*/

.main-hero-section{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50rem;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-image: url("https://images.unsplash.com/photo-1454117096348-e4abbeba002c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
}

.main-hero-container{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5%;
  padding-left: 7%;
  padding-right: 7%;
  height: 80%;
  width: 100%;
}

.hero-section-left{
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.social-media-icons img{
  transition: transform .2s;
  margin-right: 1rem;
  padding: 8px;
  border-radius: 50%;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  transition: 0.3s;
}

.social-media-icons{
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.social-media-icons img:nth-child(1):hover{
  background-color: #334c8c;
}

.social-media-icons img:nth-child(2):hover{
  background-color: #9b59b6;
}

.social-media-icons img:nth-child(3):hover{
  background-color: #00a6de;
}

.social-media-icons img:nth-child(4):hover{
  background-color: #007ab9;
}

.social-media-icons img:nth-child(5):hover{
  background-color: #8c9eff;
}

.hero-section-left h1{
  font-size: 2rem;
  margin: 0;
  font-family: "Trirong", serif;
}

.container p{
  font-size: 2rem;
}


.container {
  font-weight: bold;
  color: black;
  font-size: 2.26rem;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.animation {
  height:50px;
  overflow:hidden;
  margin-left: 1rem;
}

.animation > div > div {
  height: 100%;
  text-align:center;
  width: 100%;
  padding-right: 1rem;
  height:2.8rem;
  margin-bottom: 2.81rem;
  display:inline-block;
}

.animation div:first-child {
  animation: text-animation 8s infinite;
}

.first div {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color:#E05E12;
}
.second div {
  background-color:#4EB5CF;
}
.third div {
  background-color:#D9001D;
}

@keyframes text-animation {
  0% {margin-top: 0;}
  10% {margin-top: 0;}
  20% {margin-top: -5.62rem;}
  30% {margin-top: -5.62rem;}
  40% {margin-top: -11.24rem;}
  60% {margin-top: -11.24rem;}
  70% {margin-top: -5.62rem;}
  80% {margin-top: -5.62rem;}
  90% {margin-top: 0;}
  100% {margin-top: 0;}
}

.hero-section-right{
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.my-image{
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 100%;
}
.hero-section-right img{
  border-radius: 50%;
}

@media screen and (max-width: 1048px){
  .navbar-logo h2{
    font-size: 1.5rem;
  }

  .main-hero-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin-top: 5rem;
  }
  .hero-section-left{
    width: 100%;
    height: 100%;
    
  }

  .hero-section-left h1{
    margin: 0;
    font-size: 1.5rem;
    text-align: center;
  }
  
  .container{
    font-size: 1.5rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }


  .animation{
    margin: 0;
    height: 30px;
  }

  .social-media-icons{
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: center;  
    gap: 8px;
  }

  .social-media-icons img{
    width: 35px;
    height: 35px;
    padding: 5px;
    margin: 0;
  }

  .hero-section-right{
    width: 100%;
    height: 100%;
    
  }
  .main-hero-section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-image: url("https://images.unsplash.com/photo-1454117096348-e4abbeba002c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
  }

  .my-image{
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .my-image img{
    width: 256px;
    height: 256px;
  }
}

/*Main hero section styling end here*/


/*About Me section styling starts here*/
.about-me-section{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.main-about-container{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5%;
  padding-left: 7%;
  padding-right: 7%;
  height: 80%;
  width: 100%;
}

.about-section-left{
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.boxes {
  --size: 5rem;
  --duration: 800ms;
  height: calc(var(--size) * 2);
  width: calc(var(--size) * 3);
  position: relative;
  transform-style: preserve-3d;
  transform-origin: 50% 50%;
  margin-top: calc(var(--size) * 1.5 * -1);
  transform: rotateX(60deg) rotateZ(45deg) rotateY(0deg) translateZ(0px);
}

.boxes .box {
  width: var(--size);
  height: var(--size);
  top: 0;
  left: 0;
  position: absolute;
  transform-style: preserve-3d;
}

.boxes .box:nth-child(1) {
  transform: translate(100%, 0);
  -webkit-animation: box1 var(--duration) linear infinite;
  animation: box1 var(--duration) linear infinite;
}

.boxes .box:nth-child(2) {
  transform: translate(0, 100%);
  -webkit-animation: box2 var(--duration) linear infinite;
  animation: box2 var(--duration) linear infinite;
}

.boxes .box:nth-child(3) {
  transform: translate(100%, 100%);
  -webkit-animation: box3 var(--duration) linear infinite;
  animation: box3 var(--duration) linear infinite;
}

.boxes .box:nth-child(4) {
  transform: translate(200%, 0);
  -webkit-animation: box4 var(--duration) linear infinite;
  animation: box4 var(--duration) linear infinite;
}

.boxes .box > div {
  --background: #5C8DF6;
  --top: auto;
  --right: auto;
  --bottom: auto;
  --left: auto;
  --translateZ: calc(var(--size) / 2);
  --rotateY: 0deg;
  --rotateX: 0deg;
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--background);
  top: var(--top);
  right: var(--right);
  bottom: var(--bottom);
  left: var(--left);
  transform: rotateY(var(--rotateY)) rotateX(var(--rotateX)) translateZ(var(--translateZ));
}

.boxes .box > div:nth-child(1) {
  --top: 0;
  --left: 0;
}

.boxes .box > div:nth-child(2) {
  --background: #145af2;
  --right: 0;
  --rotateY: 90deg;
}

.boxes .box > div:nth-child(3) {
  --background: #447cf5;
  --rotateX: -90deg;
}

.boxes .box > div:nth-child(4) {
  --background: #DBE3F4;
  --top: 0;
  --left: 0;
  --translateZ: calc(var(--size) * 3 * -1);
}

@-webkit-keyframes box1 {
  0%, 50% {
    transform: translate(100%, 0);
  }

  100% {
    transform: translate(200%, 0);
  }
}

@keyframes box1 {
  0%, 50% {
    transform: translate(100%, 0);
  }

  100% {
    transform: translate(200%, 0);
  }
}

@-webkit-keyframes box2 {
  0% {
    transform: translate(0, 100%);
  }

  50% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(100%, 0);
  }
}

@keyframes box2 {
  0% {
    transform: translate(0, 100%);
  }

  50% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(100%, 0);
  }
}

@-webkit-keyframes box3 {
  0%, 50% {
    transform: translate(100%, 100%);
  }

  100% {
    transform: translate(0, 100%);
  }
}

@keyframes box3 {
  0%, 50% {
    transform: translate(100%, 100%);
  }

  100% {
    transform: translate(0, 100%);
  }
}

@-webkit-keyframes box4 {
  0% {
    transform: translate(200%, 0);
  }

  50% {
    transform: translate(200%, 100%);
  }

  100% {
    transform: translate(100%, 100%);
  }
}

@keyframes box4 {
  0% {
    transform: translate(200%, 0);
  }

  50% {
    transform: translate(200%, 100%);
  }

  100% {
    transform: translate(100%, 100%);
  }
}

.about-section-left img{
  --_g: 10% /45% 45% no-repeat linear-gradient(#000 0 0);
  --m:
    left   var(--_i,0%) top    var(--_g),
    bottom var(--_i,0%) left   var(--_g),
    top    var(--_i,0%) right  var(--_g),
    right  var(--_i,0%) bottom var(--_g);
  -webkit-mask: var(--m);
          mask: var(--m);
  transition: .3s linear;
  cursor: pointer;
}

.about-section-left img:hover{
  --_i: 10%;
  filter: grayscale(0);
}

.about-section-right{
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 1.5rem;
}

.about-section-right p{
  font-family: "Trirong", serif;
  font-size: 1rem;
  text-align: right;
  padding-left: 10px;
  padding-right: 10px;
}

.about-section-right h1{
  font-family: "Trirong", serif;
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
  display: inline-block;
  transform: skew(17deg);
}

.diagonal-heading{
  font-family: "Trirong", serif;
  background: #F1F6F9;
  border: none;
  padding: 0.25rem 1rem;
  display: inline-block;
  cursor: pointer;
  transform: skew(-17deg);
}

.diagonal-heading::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 100%;
  left: 0;
  background: rgb(20, 20, 20);
  opacity: 0;
  z-index: -1;
  transition: all 0.5s;
}

.diagonal-heading:hover {
  color: #fff;
}

.diagonal-heading:hover::before {
  left: 0;
  right: 0;
  opacity: 1;
}

button {
  padding: 15px 25px;
  border: unset;
  border-radius: 15px;
  color: #212121;
  z-index: 1;
  background: ghostwhite;
  position: relative;
  font-weight: 1000;
  font-size: 17px;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  transition: all 250ms;
  overflow: hidden;
 }
 
 button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 15px;
  background-color: #212121;
  z-index: -1;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  transition: all 250ms
 }
 
 button:hover {
  color: #e8e8e8;
  cursor: pointer;
 }
 
 button:hover::before {
  width: 100%;
 }

@media screen and (max-width: 1048px){
  .main-about-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2.5rem;
    padding: 0;
  }
  .about-section-right p{
    text-align: left;
    padding: 0 10px 0 10px;
    font-size: 1rem;
    margin-left: 0.5rem;
  }

  .about-section-right h1{
    cursor: pointer;
    text-align: center;
    padding: 0;
    font-size: 2rem;
  }

  .about-section-left{
    width: 100%;
    height: 10rem;
  }
  
  .about-section-right{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  .about-section-left img{
    height: 256px;
    width: 256px;
  }

  .about-section-left{
    align-items: center;
  }

  button{
    font-size: 1rem;
  }

  .boxes {
    --size: 2rem;
  }
}

/*About Me section styling ends here*/

/*Skills section styling starts here*/

.skills-section{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.main-skills-container{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5%;
  padding-left: 7%;
  padding-right: 7%;
  height: 100%;
  width: 100%;
}

.skills-left-section{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 40%;
  height: 100%;
  gap: 1.5rem;
}

.skills-left-section h1{
  font-family: "Trirong", serif;
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
  display: inline-block;
  transform: skew(17deg);
}

.skills-left-section p{
  font-family: "Trirong", serif;
  font-size: 1rem;
  text-align: left;
  padding-left: 10px;
  padding-right: 10px;
}

.bar-below{
  display: none;
}

.skills-right-section{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-end;
  width: 60%;
  height: 100%;
}

.bar-container div{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.techlogo-container img{
 margin-left: 4rem;
}

.techlogo-container{
  margin-right: 10px;
  width: 80%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.skills-card-container{
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-end;
  width: 80%;
}



.bar-container{
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-end;
  width: 80%;
}

.grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30%;
}

.grid-item img{
  box-shadow:rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 5px;
  border-radius: 30%;
  transition: 0.3s;
}

.grid-item img:hover{
  cursor: pointer;
}

.grid-item:nth-child(1):hover{
  background-color: #324A5E;
  transition: 0.3s;
}

.grid-item:nth-child(2):hover{
  background-color: #E54C21;
  transition: 0.3s;
}

.grid-item:nth-child(3):hover{
  background-color: #004CE8;
  transition: 0.3s;
}

.grid-item:nth-child(4):hover{
  background-color: #ffdf00;
  transition: 0.3s;
}

.grid-item:nth-child(5):hover{
  background-color: #324A5E;
  transition: 0.3s;
}

.grid-item:nth-child(6):hover{
  background-color: black;
  transition: 0.3s;
}

.grid-item:nth-child(7):hover{
  background-color: #272727;
  transition: 0.3s;
  
}

.grid-item:nth-child(8):hover{
  background-color: #a24995;
  transition: 0.3s;
}

.grid-item:nth-child(9):hover{
  background-color: #12376e;
  transition: 0.3s;
}

.main-skills-grid{
  display: grid;
  grid-template-columns: 110px 110px 110px;
  grid-gap: 30px;
}

.main-progress-container{
  height: 100%;
  display: grid;
  grid-template-columns: 150px 150px 150px;
  grid-gap: 30px;
}

.progress-item h2{
  margin: 0;
  font-size: 1rem;
  font-family: "Trirong", serif;
}

.progress-item{
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  border-radius: 1rem;
  transition: 0.5s ease-out;
  border: 1px solid #c3c6ce;
}

.progress-item:nth-child(1):hover{
  border-color: #f0885e;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.progress-item:nth-child(2):hover{
  border-color: #2e6d94;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.progress-item:nth-child(3):hover{
  border-color: #fc9c3c;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.progress-item:nth-child(4):hover{
  border-color: #00ebd2;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.progress-item:nth-child(5):hover{
  border-color: #555555;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.progress-item:nth-child(6):hover{
  border-color: #f3bb3b;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}



@media screen and (max-width: 1048px){
  .main-skills-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    padding: 0;
  }

  .skills-left-section p{
    text-align: left;
    margin-left: 0.5rem;
  }


  .skills-left-section{
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-bottom: 3rem;
  }

  .skills-right-section{
    width: 100%;
    height: 100%;
    align-items: center;
  }

  .grid-item img{
    width: 50px;
    height: 50px;
  }

  .main-skills-grid{
    grid-template-columns: 60px 60px 60px;
  }

  .main-progress-container{
    grid-template-columns: 150px 150px;
    grid-gap: 20px;
  }

}

/*Skills section styling ends here*/


/*Project section styling starts here*/
.project-section{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.main-project-container{
  gap: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 5%;
  padding-bottom: 5%;
  width: 100%;
}

.main-project-container h1{
  font-family: "Trirong", serif;
  font-size: 2rem;
  font-weight: bold;
  margin: 0;display: inline-block;
  transform: skew(17deg);
}

.project-cards-container{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}


.project-card {
  cursor: pointer;
  width: 20rem;
  height: 30rem;
  border-radius: 20px;
  background: ghostwhite;
  position: relative;
  border: 2px solid #c3c6ce;
  transition: 0.5s ease-out;
  overflow: visible;
  box-sizing: border-box;
 }
 
 .project-card-details {
  color: black;
  height: 100%;
  gap: .5em;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
 }
 
 .project-card-button {
  cursor: pointer;
  font-family: "Trirong", serif;
  transform: translate(-50%, 125%);
  width: 50%;
  border-radius: 1rem;
  border: 2px solid #192591;
  background-color: ghostwhite;
  color: black;
  font-size: 1rem;
  padding: .5rem 1rem;
  position: absolute;
  left: 50%;
  bottom: 0;
  opacity: 0;
  transition: 0.3s ease-out;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-weight: bold;
 }

 .project-card-button:hover{
  background-color: #9b59b6;
  color: white;
 }
 
 .text-body {
  font-family: "Trirong", serif;
  color: rgb(134, 134, 134);
 }
 
 /*Text*/
 .text-title {
  font-family: "Trirong", serif;
  margin: 0;
  font-size: 1.5em;
  font-weight: bold;
 }
 
 /*Hover*/
 .project-card:hover {
  border-color: #192591;
  box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
 }
 
 .project-card:hover .project-card-button {
  transform: translate(-50%, 50%);
  opacity: 1;
 }


.project-heading{
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  padding-left: 1rem;
}

.project-heading h1{
  cursor: pointer;
  margin: 0;
  padding: 0;
  font-size: 1.5rem;
  display: inline-block;
  transform: skew(0deg);
}

.project-image{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.project-image img{
  border-radius: 20px 20px 0 0;
  width: 100%;
}

.project-details{
  padding-left: 1rem;
  padding-right: 1rem;
}

.project-details p{
  line-height: 1.25rem;
}

.project-ending-line{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.project-ending-line h2{
  font-family: "Trirong", serif;
}

.project-ending-line div{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

@media screen and (max-width: 1048px){
  .project-cards-container{
    flex-direction: column;
    height: auto;
  }

  .project-card{
    width: 80%;
  }

  .project-image img{
    border-radius: 20px 20px 0 0;
    width: 100%;
    height: 200px;
  }

  .project-card-details{
    gap: 1rem;
  }

  .project-heading img{
    height: 30px;
    width: 30px;
  }
  
  .project-ending-line{
    flex-direction: column;
    gap: 0;
  }

  .project-ending-line h2{
    font-size: 1rem;
  }

  .project-details p{
    font-size: 0.85rem;
  }
}

/* project section styling ends here*/

/* education section styling starts here*/

.education-timeline-section{
  margin-top: 5rem;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.5rem;
}

.education-timeline-section h1{
  font-family: "Trirong", serif;
  font-size: 2rem;
  transform: skew(17deg);
  margin: 0;
}

.timeline{
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

.timeline::after{
  content: '';
  position: absolute;
  width: 6px;
  background-image: linear-gradient(#3ca8e8,#2931b3);
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
  border-radius: 25px;
}

.timeline_container{
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
}

.timeline_container::after{
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: white;
  border: 4px solid #FF9F55;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
  transition: 0.3s ease-out;
}

.timeline_container:hover::after{
  cursor: pointer;
  background-color:#89CFFD;
}

.left {
  left: -50%;
}

/* Place the container to the right */
.right {
  left: 50%;
}

/* Fix the circle for containers on the right side */
.right::after {
  left: -16px;
}


/* Add arrows to the left container (pointing right) */
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid ghostwhite;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent ghostwhite;
}

/* Add arrows to the right container (pointing left) */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid ghostwhite;
  border-width: 10px 10px 10px 0;
  border-color: transparent ghostwhite transparent transparent;
}

.right:hover::before{
  border: medium solid #89CFFD;
  border-width: 10px 10px 10px 0;
  border-color: transparent #89CFFD transparent transparent;
}

.left:hover::before{
  border: medium solid #89CFFD;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent #89CFFD;
}

.timeline-content{
  padding: 1rem;
  background-color: ghostwhite;
  position: relative;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  cursor: pointer;
  transition: 0.3s ease-out;
  box-sizing: border-box;
}

.timeline-content:hover{
  background-color: #89CFFD;
}

.timeline-content h2,p{
  font-family: "Trirong", serif;
  margin: 0;

}

.timeline-content p{
  font-size: 1.1rem;
}



@media screen and (max-width: 1048px) {
  .timeline::after {
    left: 28px;
  }

  .timeline_container{
    width: 70%;
    padding-left: 70px;
    padding-right: 25px;
  }

  .timeline_container::after{
    width: 1rem;
    height: 1rem;
  }

  .timeline_container::before{
  left: 60px;
  border: medium solid ghostwhite;
  border-width: 10px 10px 10px 0;
  border-color: transparent ghostwhite transparent transparent;
  }

  .left::after,.right::after {
  left: 15px;
  }

  .timeline_container:hover::before{
  content: " ";
  height: 0;
  position: absolute;
  top: 17px;
  width: 0;
  z-index: 1;
  left: 60px;
  border: medium solid #89CFFD;
  border-width: 10px 10px 10px 0;
  border-color: transparent #89CFFD transparent transparent;
  }

  .left::before{
    top: 17px;
  }

  .right::before{
    top: 17px;
  }
  
  /* Make all right containers behave like the left ones */
  .right {
  left: 0%;
  }

  .left{
    left: 0%;
  }

  .timeline-content h2{
   font-size: 1.25rem;
  }
}