body{
    margin: 0;
}
/*Navbar styling*/

.nav-header-section{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
    margin: 0;
}

.navbar-container{
    z-index: 999;
    /*background-image: linear-gradient(to right,#bdc3c7, #2c3e50);*/
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: fixed;
    top: 0;
    height: 7%;
    background-color: transparent;
}

.navbar-logo{
    padding: 10px;
    width: 50%;
}

.navbar-logo h2{
  color: rgb(27, 27, 27);
  font-family: "Trirong", serif;
  font-size: 2.26rem;
  font-weight: bold;
}

.navbar-logo h2:hover{
    cursor: pointer;
}

.navbar-logo img{
    shape-rendering: crispEdges;
    border: none;
    cursor: pointer;
}

.navbar-logo img.svgfix rect{
    shape-rendering: crispEdges;
}

.nav-links-container{
    padding: 10px;
    width: 50%;
}

.nav-links{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links li{
  color: rgb(27, 27, 27);
  font-family: "Trirong", serif;
  font-size: 19px;
  position: relative;
  padding: 5px;
  cursor: pointer;
  list-style-type: none;
  font-weight: bold;
}

.nav-links li::before{
    content: "";
    position: absolute;
    width: 0%;
    bottom: 0;
    left: 0;
    height: 2px;
    transition: all 0.2s;
    background-color: rgb(27, 27, 27);
}

.nav-links li:hover::before{
    width: 100%;
}

.hamburger-menu{
  display: none;
}

@media screen and (max-width: 1396px) {
  .nav-links{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: -100%;
    z-index: -3;
    transition: 0.3s;
  }

  .nav-links.active{
    left: 0;
  }

  .nav-links li{
    color: white;
    font-family: "Trirong", serif;
    padding: 1rem 0;
    font-size: 1rem;
    cursor: pointer;
  }

  .hamburger-menu{
    padding: 10px;
    display: initial;
  }

}


/*Main hero section styling*/

.main-hero-section{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50rem;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-image: url("https://images.unsplash.com/photo-1454117096348-e4abbeba002c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
}

.main-hero-container{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5%;
  padding-left: 13%;
  padding-right: 13%;
  height: 80%;
  width: 100%;
}

.hero-section-left{
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.social-media-icons img{
  margin-right: 1rem;
}

.social-media-icons{
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.hero-section-left h1{
  font-size: 2.26rem;
  margin: 0;
  font-family: "Trirong", serif;
}


.container {
  font-weight: bold;
  color: black;
  font-size: 2.26rem;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.animation {
  height:50px;
  overflow:hidden;
  margin-left: 1rem;
}

.animation > div > div {
  height: 100%;
  text-align:center;
  width: 100%;
  padding-right: 1rem;
  height:2.8rem;
  margin-bottom: 2.81rem;
  display:inline-block;
}

.animation div:first-child {
  animation: text-animation 8s infinite;
}

.first div {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color:#E05E12;
}
.second div {
  background-color:#4EB5CF;
}
.third div {
  background-color:#D9001D;
}

@keyframes text-animation {
  0% {margin-top: 0;}
  10% {margin-top: 0;}
  20% {margin-top: -5.62rem;}
  30% {margin-top: -5.62rem;}
  40% {margin-top: -11.24rem;}
  60% {margin-top: -11.24rem;}
  70% {margin-top: -5.62rem;}
  80% {margin-top: -5.62rem;}
  90% {margin-top: 0;}
  100% {margin-top: 0;}
}

.hero-section-right{
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.my-image{
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 100%;
}
.hero-section-right img{
  border-radius: 50%;
}

@media screen and (max-width: 1396px){
  .navbar-logo h2{
    font-size: 1.5rem;
  }

  .main-hero-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin-top: 5rem;
  }
  .hero-section-left{
    width: 100%;
    height: 100%;
    
  }

  .hero-section-left h1{
    margin: 0;
    font-size: 1.5rem;
    text-align: center;
  }
  
  .container{
    font-size: 1.5rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }


  .animation{
    margin: 0;
    height: 30px;
  }

  .social-media-icons{
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: center;
    
  }

  

  .social-media-icons img{
    width: 37px;
    height: 37px;
    margin: 10px;
  }

  .hero-section-right{
    width: 100%;
    height: 100%;
    
  }
  .main-hero-section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-image: url("https://images.unsplash.com/photo-1454117096348-e4abbeba002c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
  }

  .my-image{
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .my-image img{
    width: 256px;
    height: 256px;
  }
}

/*Main hero section styling end here*/


/*About Me section styling starts here*/
.about-me-section{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50rem;
  width: 100%;
}

.main-about-container{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5%;
  padding-left: 13%;
  padding-right: 13%;
  height: 80%;
  width: 100%;
}

.about-section-left{
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-section-left img{
  --_g: 10% /45% 45% no-repeat linear-gradient(#000 0 0);
  --m:
    left   var(--_i,0%) top    var(--_g),
    bottom var(--_i,0%) left   var(--_g),
    top    var(--_i,0%) right  var(--_g),
    right  var(--_i,0%) bottom var(--_g);
  -webkit-mask: var(--m);
          mask: var(--m);
  filter: grayscale();
  transition: .3s linear;
  cursor: pointer;
}

.about-section-left img:hover{
  --_i: 10%;
  filter: grayscale(0);
}

.about-section-right{
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.about-section-right p{
  font-family: "Trirong", serif;
  font-size: 1.5rem;
  text-align: right;
  padding-left: 10px;
  padding-right: 10px;
}

.about-section-right h1{
  font-family: "Trirong", serif;
  font-size: 2.26rem;
  font-weight: bold;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0;
}

@media screen and (max-width: 1396px){
  .main-about-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    padding: 0;
  }
  .about-section-right p{
    text-align: center;
    padding: 0 10px 0 10px;
    font-size: 1rem;
  }

  .about-section-right h1{
    text-align: center;
    padding: 0;
    font-size: 1rem;
  }

  .about-section-left{
    width: 100%;
    height: 100%;
  }
  
  .about-section-right{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  .about-section-left img{
    height: 256px;
    width: 256px;
  }
}
